<div class="card">
    <div class="card-body">
        <h1>{{agenda.titulo}}</h1>
        <hr>
        <smal>Data de publicação: {{agenda.data}}</smal>
        <hr>
        {{agenda.conteudo}}
    </div>
</div>